<h1>{{title}}</h1>

<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>

<router-outlet></router-outlet>
<!-- Você removeu <app-heroes>porque só exibirá o HeroesComponentquando o usuário navegar até ele.-->

<!--app-heroes></app-heroes-->
<!-- aqui a lista de herois é exibida. adicionei o selector de heroes.component, resultando na exibição da lista-->

<app-messages></app-messages>
<!--exibe o MessagesComponent-->

<!--As chaves duplas são a sintaxe de ligação de interpolação do Angular . Essa ligação de interpolação apresenta o titlevalor da propriedade do componente dentro da tag do cabeçalho HTML.-->
